<div class="center hero-unit">
  <h1>More about the sample app</h1>

  <h2>
    Here we will be letting you know how it all started, how the whole concept of this sample app came up. 
  </h2>


</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>