<html>
<head>
	<title>Rails tutorial sample app twitter | <%= @title %>
	</title>
</head>
		<body>
		<h1>I am the home page</h1>
			<p>Find me in /views/pages/<%= link_to "home", "#" %>	
			</p>
		</body>
</html>